//- SVG icon
mixin icon(name)
	svg(class="icon icon--" + name)
		use(xlink:href="img/svg-sprite.svg#" + name)


//- input
mixin input(type, name, dataName, placeholder, required)
	.input-wrap
		input(type=type, name=name, data-name=dataName, placeholder=placeholder, required=required)


//- textarea
mixin textarea(name, dataName, placeholder, required)
	.input-wrap
		textarea(name=name, data-name=dataName, cols="30", rows="5" placeholder=placeholder, required=required)